In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(123)

In [3]:
n_sample = 1000

class_0_ratio = 0.9

n_class_0 = int(n_sample*class_0_ratio)
n_class_1 = n_sample-n_class_0

In [4]:
n_class_0

900

In [5]:
n_class_1

100

In [6]:
class_0 = pd.DataFrame({"feature_1":np.random.normal(loc=0,scale=1,size=n_class_0,),
                        "feature_2":np.random.normal(loc=0,scale=1,size=n_class_0),
                        "target":[0]*n_class_0})

class_1 = pd.DataFrame({"feature_1":np.random.normal(loc=0,scale=1,size=n_class_1,),
                        "feature_2":np.random.normal(loc=0,scale=1,size=n_class_1),
                        "target":[1]*n_class_1})

In [7]:
class_0

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
895   0.238761  -0.003155       0
896  -1.106386  -0.430660       0
897   0.366732  -0.146416       0
898   1.023906   1.160176       0
899  -0.210056  -0.641512       0

[900 rows x 3 columns]

In [8]:
class_0['target'].value_counts()

target
0    900
Name: count, dtype: int64

In [9]:
class_1['target'].value_counts()

target
1    100
Name: count, dtype: int64

In [11]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [14]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [16]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [17]:
df_minority

     feature_1  feature_2  target
900  -0.300232   0.139033       1
901  -0.632261   0.025577       1
902  -0.204317  -0.196443       1
903   0.213696   1.312255       1
904   1.033878   1.187417       1
..         ...        ...     ...
995  -0.623629   0.845701       1
996   0.239810  -1.119923       1
997  -0.868240  -0.359297       1
998   0.902006  -1.609695       1
999   0.697490   0.013570       1

[100 rows x 3 columns]

In [18]:
df_majority

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
895   0.238761  -0.003155       0
896  -1.106386  -0.430660       0
897   0.366732  -0.146416       0
898   1.023906   1.160176       0
899  -0.210056  -0.641512       0

[900 rows x 3 columns]

In [19]:
from sklearn.utils import resample

In [20]:
df_minority_upsampling = resample(df_minority,replace=True,n_samples=len(df_majority),random_state=42)

In [21]:
df_minority_upsampling

     feature_1  feature_2  target
951  -0.874146  -0.156083       1
992   0.196570  -0.602575       1
914  -0.067830   0.998053       1
971   0.272825   1.034197       1
960   0.870056  -0.449515       1
..         ...        ...     ...
952  -0.811098   0.189189       1
965   1.919526  -0.019459       1
976   0.810326   1.604614       1
942   1.621531   0.168229       1
974  -0.839113   0.489203       1

[900 rows x 3 columns]

In [22]:
new_df = pd.concat([df_majority,df_minority_upsampling]).reset_index(drop=True)

In [23]:
new_df

      feature_1  feature_2  target
0     -1.085631   0.551302       0
1      0.997345   0.419589       0
2      0.282978   1.815652       0
3     -1.506295  -0.252750       0
4     -0.578600  -0.292004       0
...         ...        ...     ...
1795  -0.811098   0.189189       1
1796   1.919526  -0.019459       1
1797   0.810326   1.604614       1
1798   1.621531   0.168229       1
1799  -0.839113   0.489203       1

[1800 rows x 3 columns]

In [24]:
new_df['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [25]:
new_df.shape

(1800, 3)

In [26]:
#Down sampling
class_0 = pd.DataFrame({"feature_1":np.random.normal(loc=0,scale=1,size=n_class_0,),
                        "feature_2":np.random.normal(loc=0,scale=1,size=n_class_0),
                        "target":[0]*n_class_0})

class_1 = pd.DataFrame({"feature_1":np.random.normal(loc=0,scale=1,size=n_class_1,),
                        "feature_2":np.random.normal(loc=0,scale=1,size=n_class_1),
                        "target":[1]*n_class_1})
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [27]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [30]:
df_majority_downsampling = resample(df_majority,replace=False,n_samples=len(df_minority),random_state=42)

In [31]:
df_majority_downsampling

     feature_1  feature_2  target
70    0.786057   0.830076       0
827  -0.859775   0.174732       0
231  -0.012870  -0.735348       0
588  -0.297331  -0.351224       0
39    0.528702   1.508257       0
..         ...        ...     ...
398   1.013666   0.083496       0
76    0.164480  -1.808980       0
196  -1.576624   0.525893       0
631  -0.540147   0.610282       0
751  -0.168798  -0.831334       0

[100 rows x 3 columns]

In [34]:
new_df = pd.concat([df_minority,df_majority_downsampling]).reset_index(drop=True)

In [35]:
new_df['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64