In [1]:
# List -: changeble,ordered,forward and backward index base accessing,duplicates allow.mutable etc.

In [2]:
l = ['arjun',True,12,54.76,55+90j]

In [3]:
l

['arjun', True, 12, 54.76, (55+90j)]

In [4]:
l[0]

'arjun'

In [5]:
l[1]

True

In [6]:
l[-1]

(55+90j)

In [7]:
l[-2]

54.76

In [8]:
l[0]

'arjun'

In [9]:
l[0] = 'manjeet'

In [10]:
l

['manjeet', True, 12, 54.76, (55+90j)]

In [11]:
l1 = l

In [12]:
l

['manjeet', True, 12, 54.76, (55+90j)]

In [13]:
l[0] = 'narpat'

In [14]:
l1

['narpat', True, 12, 54.76, (55+90j)]

In [15]:
l

['narpat', True, 12, 54.76, (55+90j)]

In [16]:
l2 = l.copy()

In [17]:
l

['narpat', True, 12, 54.76, (55+90j)]

In [18]:
l[0] = 'rahul'

In [19]:
l

['rahul', True, 12, 54.76, (55+90j)]

In [20]:
l2

['narpat', True, 12, 54.76, (55+90j)]

In [21]:
l[::-1]

[(55+90j), 54.76, 12, True, 'rahul']

In [22]:
l[0::2]

['rahul', 12, (55+90j)]

In [23]:
l[0:2]

['rahul', True]

In [24]:
courses = ['data science','python','machine learning','deep learning']

In [25]:
courses

['data science', 'python', 'machine learning', 'deep learning']

In [27]:
courses[0][0:3]

'dat'

In [28]:
courses

['data science', 'python', 'machine learning', 'deep learning']

In [29]:
courses.append('computer vision')

In [30]:
courses

['data science',
 'python',
 'machine learning',
 'deep learning',
 'computer vision']

In [31]:
courses.insert(2,'tablu')

In [32]:
courses

['data science',
 'python',
 'tablu',
 'machine learning',
 'deep learning',
 'computer vision']

In [33]:
courses.extend(['sql','mongodb','oracle','aws','azure'])

In [34]:
courses

['data science',
 'python',
 'tablu',
 'machine learning',
 'deep learning',
 'computer vision',
 'sql',
 'mongodb',
 'oracle',
 'aws',
 'azure']

In [35]:
courses.pop(0)

'data science'

In [36]:
courses

['python',
 'tablu',
 'machine learning',
 'deep learning',
 'computer vision',
 'sql',
 'mongodb',
 'oracle',
 'aws',
 'azure']

In [37]:
courses.pop()

'azure'

In [38]:
courses

['python',
 'tablu',
 'machine learning',
 'deep learning',
 'computer vision',
 'sql',
 'mongodb',
 'oracle',
 'aws']

In [39]:
courses.remove('sql')

In [40]:
courses

['python',
 'tablu',
 'machine learning',
 'deep learning',
 'computer vision',
 'mongodb',
 'oracle',
 'aws']

In [41]:
courses.index('tablu')

1

In [42]:
courses.count('aws')

1

In [43]:
courses.reverse()

In [44]:
courses

['aws',
 'oracle',
 'mongodb',
 'computer vision',
 'deep learning',
 'machine learning',
 'tablu',
 'python']

In [45]:
students = ['mohit saini','abhishek rajput','govind verma','arjun singh','ankit bhatti']

In [48]:
students.sort(reverse=True)

In [49]:
students

['mohit saini',
 'govind verma',
 'arjun singh',
 'ankit bhatti',
 'abhishek rajput']

In [50]:
students.clear()

In [51]:
students

[]

In [52]:
del courses

In [53]:
courses

NameError: name 'courses' is not defined

In [54]:
l = ['data sciece',12,['machine learning','deep learning',['python','java','cpp','java script'],21],32,'tablu']

In [55]:
l

['data sciece',
 12,
 ['machine learning',
  'deep learning',
  ['python', 'java', 'cpp', 'java script'],
  21],
 32,
 'tablu']

In [59]:
l[2][2][3][5:]

'script'

In [60]:
for i in l:
    print(i)

data sciece
12
['machine learning', 'deep learning', ['python', 'java', 'cpp', 'java script'], 21]
32
tablu

In [61]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [62]:
l = [(1,2,3,4),{2,3,4,5,4,3,3},{'name':'arjun'}]

In [63]:
l

[(1, 2, 3, 4), {2, 3, 4, 5}, {'name': 'arjun'}]

In [70]:
l[0][0] = 90

TypeError: 'tuple' object does not support item assignment

In [71]:
l

[(1, 2, 3, 4), {2, 3, 4, 5}, {'name': 'arjun'}]

In [72]:
l*3

[(1, 2, 3, 4),
 {2, 3, 4, 5},
 {'name': 'arjun'},
 (1, 2, 3, 4),
 {2, 3, 4, 5},
 {'name': 'arjun'},
 (1, 2, 3, 4),
 {2, 3, 4, 5},
 {'name': 'arjun'}]

In [74]:
l+list([1,2,3,4])

[(1, 2, 3, 4), {2, 3, 4, 5}, {'name': 'arjun'}, 1, 2, 3, 4]