In [1]:
#Dictionary -: changeble,mutable,not allow duplicates,key and value pair,key accessing,ordered

In [2]:
d = {'name':'arjun','age':21}

In [3]:
d

{'name': 'arjun', 'age': 21}

In [4]:
d['name']

'arjun'

In [5]:
d['age']

21

In [6]:
d.keys()

dict_keys(['name', 'age'])

In [7]:
d.values()

dict_values(['arjun', 21])

In [8]:
d.items()

dict_items([('name', 'arjun'), ('age', 21)])

In [9]:
d.get('name')

'arjun'

In [12]:
d.pop('name')

'arjun'

In [13]:
d.popitem()

('age', 21)

In [14]:
d

{}

In [17]:
d1 = {'names':['arjun','anshu','ankit','narpat','rahul','kesav','govind','mushkan','palak','kalpna','mohit'],
      'course':['data science','deep learning','computer vision','nlp','tablu','power bi'],
      'email':{'arjun':'arjun@gmail.com','anshu':'anshu@gmail.com','ankit':'ankit@gmail.com'}}

In [18]:
d1

{'names': ['arjun',
  'anshu',
  'ankit',
  'narpat',
  'rahul',
  'kesav',
  'govind',
  'mushkan',
  'palak',
  'kalpna',
  'mohit'],
 'course': ['data science',
  'deep learning',
  'computer vision',
  'nlp',
  'tablu',
  'power bi'],
 'email': {'arjun': 'arjun@gmail.com',
  'anshu': 'anshu@gmail.com',
  'ankit': 'ankit@gmail.com'}}

In [19]:
d1.values()

dict_values([['arjun', 'anshu', 'ankit', 'narpat', 'rahul', 'kesav', 'govind', 'mushkan', 'palak', 'kalpna', 'mohit'], ['data science', 'deep learning', 'computer vision', 'nlp', 'tablu', 'power bi'], {'arjun': 'arjun@gmail.com', 'anshu': 'anshu@gmail.com', 'ankit': 'ankit@gmail.com'}])

In [20]:
for i in d1.values():
    print(i)

['arjun', 'anshu', 'ankit', 'narpat', 'rahul', 'kesav', 'govind', 'mushkan', 'palak', 'kalpna', 'mohit']
['data science', 'deep learning', 'computer vision', 'nlp', 'tablu', 'power bi']
{'arjun': 'arjun@gmail.com', 'anshu': 'anshu@gmail.com', 'ankit': 'ankit@gmail.com'}

In [22]:
d1['names']

['arjun',
 'anshu',
 'ankit',
 'narpat',
 'rahul',
 'kesav',
 'govind',
 'mushkan',
 'palak',
 'kalpna',
 'mohit']

In [23]:
d1['names'] = ['manish ji']

In [24]:
d1

{'names': ['manish ji'],
 'course': ['data science',
  'deep learning',
  'computer vision',
  'nlp',
  'tablu',
  'power bi'],
 'email': {'arjun': 'arjun@gmail.com',
  'anshu': 'anshu@gmail.com',
  'ankit': 'ankit@gmail.com'}}

In [25]:
d1.fromkeys(['key1','key2','key3','key4','key5'])

{'key1': None, 'key2': None, 'key3': None, 'key4': None, 'key5': None}