In [1]:
#function -: set of instruction

In [2]:
def test():
    print("Hello arjun bhai")

In [3]:
test()

Hello arjun bhai

In [4]:
def test1():
    return 12,[23,43,45],"manjet"

In [5]:
test1()

(12, [23, 43, 45], 'manjet')

In [6]:
def test3(a,b):
    return a+b

In [7]:
test3(12,89)

101

In [8]:
def test4(*args):
    return args

In [9]:
test4(['arjun',True,'kesa hai',21])

(['arjun', True, 'kesa hai', 21],)

In [10]:
def test5(**kwargs):
    return kwargs

In [11]:
test5(name="arjun",age=21)

{'name': 'arjun', 'age': 21}

In [12]:
def test6(a,b,c=90):
    return a+b+c

In [13]:
test6(5,5,0)

10

In [14]:
test6(5,5)

100

In [15]:
#Generator function

In [17]:
def fib_no(n):
    a,b=0,1

    for i in range(n):
        yield a
        a,b = b,a+b

In [18]:
fib_no(10)

In [19]:
for i in fib_no(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [20]:
name = "arjun"

In [21]:
next(name)

TypeError: 'str' object is not an iterator

In [22]:
name = iter(name)

In [23]:
next(name)

'a'

In [24]:
next(name)

'r'

In [25]:
number = 90

In [26]:
next(number)

TypeError: 'int' object is not an iterator

In [27]:
number = iter(number)

TypeError: 'int' object is not iterable

In [28]:
def number():
    a=0
    while True:
        yield a
        a+=1

In [32]:
for i in range(10):
    print(next(number()))

0
0
0
0
0
0
0
0
0
0

In [36]:
next(number())

0

In [37]:
#Lambdafunction

In [38]:
add = lambda a,b:a+b

In [39]:
add(12,8)

20

In [40]:
name = 'arjun bhai'

In [41]:
length = lambda x:len(x)

In [43]:
length(name)

10

In [44]:
#map,filter,reduce function

In [45]:
l = [1,2,3,4,5]

In [47]:
list(map(lambda x:x**2,l))

[1, 4, 9, 16, 25]

In [48]:
names = ['arjun','manjeet','kesav','suresh','paddikal']

In [49]:
list(map(lambda x:x.upper(),names))

['ARJUN', 'MANJEET', 'KESAV', 'SURESH', 'PADDIKAL']

In [50]:
from functools import reduce

In [51]:
l = [1,2,3,4,5]

In [52]:
reduce(lambda x,y:x+y,l)

15

In [53]:
reduce(lambda x,y:x*y,l)

120

In [55]:
reduce(lambda x,y:x+y,[1])

1

In [56]:
l = ['arjun','manjeet','rekha','pooja','narpat','rahul','nikita','shiwani']

In [58]:
list(filter(lambda x:len(x)<=6,l))

['arjun', 'rekha', 'pooja', 'narpat', 'rahul', 'nikita']

In [59]:
l = list(range(100))

In [61]:
list(filter(lambda x:x%2==0 and x%3==0,l))

[0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]