In [49]:
#Class - It is a blueprint of an object.
#object -: It is a real world entity.It is instance of an object.
#inheritance - aquired the all property of the parents class.
#types
#1.single inheritance
#2.multiple inheritance
#3.multi-level inheritance

#Encapsulation -:combination of data member and member function.combine data member and member function in single entity.

In [3]:
class pwskill:
    pass

In [4]:
class pwskill:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def return_details(self):
        return self.name,self.age

In [5]:
obj = pwskill('arjun',21)

In [6]:
obj.name

'arjun'

In [7]:
obj.age

21

In [8]:
obj.return_details()

('arjun', 21)

In [12]:
class class1:
    def welcome(self):
        print("Welcome arjun singh ji")
class class2(class1):
    pass

In [15]:
obj1 = class2()

In [16]:
obj1.welcome()

Welcome arjun singh ji

In [22]:
class father:
    def eye(self):
        print("Black brown eye")
class mother:
    def colour(self):
        print('Gray-white baby')
class sun(father,mother):
    def dimple(self):
        print("2 side dimple")

In [23]:
obj3 = sun()

In [24]:
obj3.eye()

Black brown eye

In [25]:
obj3.colour()

Gray-white baby

In [26]:
obj3.dimple()

2 side dimple

In [35]:
class father1:
    def __init__(self,father_name,father_age):
        self.father_name = father_name
        self.father_age = father_age

    def duty(self):
        print("Father going to duty")

class brother:
    def __init__(self,brother_name,brother_age):
        self.brother_name = brother_name
        self.brother_age = brother_age
        

    def study(self):
        print("Brother going to college")

class me(father,brother):
    def __init__(self, brother_name, brother_age,father_name,father_age):
        brother.__init__(self,brother_name, brother_age)
        father.__init__(self,father_name,father_age)

In [36]:
obj = me('rajendra',45,'arjun',22)

TypeError: object.__init__() takes exactly one argument (the instance to initialize)

In [37]:
obj.brother_age

22

In [45]:
class Father:
    def __init__(self, father_name, father_age):
        self.father_name = father_name
        self.father_age = father_age

    def duty(self):
        print("Father going to duty")

class Brother:
    def __init__(self, brother_name, brother_age):
        self.brother_name = brother_name
        self.brother_age = brother_age
        
    def study(self):
        print("Brother going to college")

class Me(Father, Brother):
    def __init__(self, brother_name, brother_age, father_name, father_age):
        Brother.__init__(self, brother_name, brother_age)
        Father.__init__(self, father_name, father_age)

    def father(self):
        print(self.father_name)

In [46]:
obj = Me('arjun',22,'rajendra',56)

In [47]:
obj.father_age

56

In [48]:
obj.father()

rajendra

In [1]:
class Father:
    def __init__(self,income,expenditure):
        self.__income = income
        self.expenditure  = expenditure

class Mother:
    def __init__(self,money):
        self.__money = money
class Sun(Father,Mother):
    def __init__(self,income,expenditure,money):
        Father.__init__(self,income,expenditure)
        Mother.__init__(self,money)

In [2]:
obj = Sun(120000,50000,20000)

In [3]:
obj.expenditure

50000

In [7]:
obj._Father__income

120000

In [10]:
class bank_account:
    def __init__(self,balance):
        self.__balance = balance
    
    def withdraw(self,amount):
        if amount<=self.__balance:
            self.__balance-=amount
            return True
        return False
    def deposite(self,amount):
        self.__balance+=amount
    
    def check(self):
        return self.__balance

In [11]:
obj = bank_account(12000)

In [13]:
obj.check()

12000

In [14]:
obj.withdraw(2000)

True

In [15]:
obj.check()

10000

In [16]:
obj.deposite(20000)

In [17]:
obj.check()

30000