In [1]:
name = "Arjun singh"

In [2]:
name

'Arjun singh'

In [3]:
name[0]

'A'

In [4]:
name[4]

'n'

In [5]:
name[0:4]

'Arju'

In [6]:
name[::-1]

'hgnis nujrA'

In [7]:
name[-2:-4:-1]

'gn'

In [10]:
name[-2:-4:-2]

'g'

In [11]:
name[::2]

'Ajnsnh'

In [12]:
name.index('n')

4

In [14]:
name.lower()

'arjun singh'

In [15]:
name.upper()

'ARJUN SINGH'

In [16]:
name.capitalize()

'Arjun singh'

In [17]:
name.title()

'Arjun Singh'

In [18]:
name.split(' ')

['Arjun', 'singh']

In [19]:
first_name = "   Arjun singh"

In [20]:
first_name

'   Arjun singh'

In [21]:
first_name.strip()

'Arjun singh'

In [22]:
first_name.startswith(' ')

True

In [23]:
first_name.endswith('q')

False

In [24]:
first_name.endswith('h')

True

In [25]:
name

'Arjun singh'

In [26]:
name.count('n')

2

In [27]:
name.count('a')

0

In [28]:
name.find('n')

4

In [29]:
name.find('q')

-1

In [30]:
name.replace('A',"a")

'arjun singh'

In [31]:
name

'Arjun singh'

In [32]:
first = 1

In [33]:
second = "2"

In [34]:
first+second

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [35]:
str(first)+second

'12'

In [36]:
a = "i do'not touch me"

In [37]:
a

"i do'not touch me"

In [38]:
name

'Arjun singh'

In [39]:
name*3

'Arjun singhArjun singhArjun singh'

In [40]:
name+1

TypeError: can only concatenate str (not "int") to str

In [41]:
name+str(1)

'Arjun singh1'