In [1]:
#List

In [2]:
l = ['arjun',21,34.43,True,False]
l

['arjun', 21, 34.43, True, False]

In [3]:
l[0:2]

['arjun', 21]

In [4]:
l[::-1]

[False, True, 34.43, 21, 'arjun']

In [5]:
l1 = [12,43,["Kesav",['Mukesh',"Pinku",21]],43]

In [6]:
l1

[12, 43, ['Kesav', ['Mukesh', 'Pinku', 21]], 43]

In [11]:
l1[2][1][2]

21

In [12]:
l2 = ['data science',"Machine learning","Deep Learnng"]

In [13]:
l2.append('Web development')

In [14]:
l2

['data science', 'Machine learning', 'Deep Learnng', 'Web development']

In [15]:
l2.extend(['computer vision','tablu'])

In [16]:
l2

['data science',
 'Machine learning',
 'Deep Learnng',
 'Web development',
 'computer vision',
 'tablu']

In [17]:
l2.extend(1)

TypeError: 'int' object is not iterable

In [18]:
l2.insert(2,"Data Enginer")

In [19]:
l2

['data science',
 'Machine learning',
 'Data Enginer',
 'Deep Learnng',
 'Web development',
 'computer vision',
 'tablu']

In [20]:
len(l2)

7

In [21]:
l2.pop()

'tablu'

In [22]:
l2.pop(0)

'data science'

In [23]:
l2.pop(3)

'Web development'

In [24]:
l2

['Machine learning', 'Data Enginer', 'Deep Learnng', 'computer vision']

In [25]:
l2.index('Machine learning')

0

In [31]:
l2.count('Deep Learnng')

1

In [29]:
l2

['Machine learning', 'Data Enginer', 'Deep Learnng', 'computer vision']

In [32]:
l2

['Machine learning', 'Data Enginer', 'Deep Learnng', 'computer vision']

In [33]:
l2.remove("computer vision")

In [34]:
l2

['Machine learning', 'Data Enginer', 'Deep Learnng']

In [35]:
l2.reverse()

In [36]:
l2

['Deep Learnng', 'Data Enginer', 'Machine learning']

In [37]:
l2  = l2[::-1]

In [38]:
l2

['Machine learning', 'Data Enginer', 'Deep Learnng']

In [39]:
l2.sort()

In [40]:
l2

['Data Enginer', 'Deep Learnng', 'Machine learning']

In [41]:
l = [4,3,2,6,5,1]

In [43]:
l.sort(reverse=True)

In [44]:
l

[6, 5, 4, 3, 2, 1]

In [1]:
#Tuples

In [2]:
t = ('Arjun',True,23+89j)

In [3]:
t

('Arjun', True, (23+89j))

In [4]:
type(t)

tuple

In [5]:
t.count('1')

0

In [6]:
t.count(1)

1

In [7]:
t.index(True)

1

In [8]:
t[0]

'Arjun'

In [9]:
t[-1]

(23+89j)

In [10]:
t[0:3]

('Arjun', True, (23+89j))

In [11]:
type(t)

tuple

In [12]:
len(t)

3

In [13]:
del t

In [14]:
t

NameError: name 't' is not defined

In [15]:
#Set

In [16]:
s1 = {1,3,2,5,4,6,7,7,7,1,1,1,1}

In [17]:
s1

{1, 2, 3, 4, 5, 6, 7}

In [18]:
s1.add(78)

In [19]:
s1

{1, 2, 3, 4, 5, 6, 7, 78}

In [20]:
s1.pop()

1

In [21]:
s2 = {1,4,2,6,[2,1,4,0],"arjun"}

TypeError: unhashable type: 'list'

In [22]:
t2 = (12,43,[43,56,55])