In [1]:
#Fuction

In [2]:
l = [12,43,56,87,32,12,34]

In [3]:
l

[12, 43, 56, 87, 32, 12, 34]

In [4]:
len(l)

7

In [5]:
def test():
    pass

In [6]:
test()

In [7]:
def test1():
    print("Hello arjun singh shekhawat")

In [8]:
test1()

Hello arjun singh shekhawat

In [9]:
def test1():
    return "arjun singh"

In [10]:
print(test1())

arjun singh

In [11]:
def test2():
    return 21,True,[21,43,5]

In [12]:
print(test2())

(21, True, [21, 43, 5])

In [13]:
a,b,c = test2()

In [14]:
a

21

In [15]:
b

True

In [16]:
c

[21, 43, 5]

In [17]:
def test3(a,b):
    return a+b

In [18]:
print(test3("Arjun"," singh"))

Arjun singh

In [19]:
test3(12,34)

46

In [20]:
test3("Manjeet"," singh")+" shekhawat"

'Manjeet singh shekhawat'

In [23]:
def test4(*args):
    return args

In [24]:
test4("Aejun",True,("manjeet",'kesa',True),32.54)

('Aejun', True, ('manjeet', 'kesa', True), 32.54)

In [25]:
def test5(**kwargs):
    return kwargs

In [27]:
test5(Name="Arjun",Age=21,Branch="Computer Science")

{'Name': 'Arjun', 'Age': 21, 'Branch': 'Computer Science'}

In [28]:
def test6(a,*args,**kwargs):
    return a,args,kwargs

In [30]:
d1 = {"Course":['Data science',"Machine Learning",'deep learning'],"Class":[1,2,3,4,5]}
a1 = "arjun",True,32.6

In [32]:
print(test6(12,a1,d1))

(12, (('arjun', True, 32.6), {'Course': ['Data science', 'Machine Learning', 'deep learning'], 'Class': [1, 2, 3, 4, 5]}), {})

In [33]:
t = test6(12,a1,d1)

In [34]:
t[0]

12

In [40]:
t[1][0][0:1][0]

'arjun'

In [41]:
def test7(a,b=10,c=10):
    return a+b+c

In [43]:
test7(12,4,5)

21

In [44]:
test7(12)

32

In [45]:
l = ["Arjun",12,43,56.54,["Manjeet",'Man singh',"Surya Singh",'Nitita kanwar','rekha kanwar','arun chouhan'],'pooja kanwar','vinod kanwar']

In [46]:
string=[]
number=[]

for i in l:
    if type(i)==list:
        for j in i:
            if type(j)==str:
                string.append(j)
            else:
                number.append(j)
    elif type(i)==str:
        string.append(i)
    else:
        number.append(i)

In [47]:
string

['Arjun',
 'Manjeet',
 'Man singh',
 'Surya Singh',
 'Nitita kanwar',
 'rekha kanwar',
 'arun chouhan',
 'pooja kanwar',
 'vinod kanwar']

In [48]:
number

[12, 43, 56.54]

In [49]:
def test8(a,b):
    "This function is used to add a and b data with each other"
    return a+b

In [50]:
test8([1,4,2,6,7],[4,3,7,8,21])

[1, 4, 2, 6, 7, 4, 3, 7, 8, 21]