In [1]:
#Encapsulation - Information hidding

In [2]:
class test:
    def __init__(self,a,b):
        self.a = a
        self.b = b

In [4]:
obj = test(12,32)

In [5]:
obj.a

12

In [6]:
obj.a = 90

In [7]:
obj.a

90

In [8]:
obj.b

32

In [9]:
obj.b = 8000

In [10]:
obj.b

8000

In [24]:
class student:
    def __init__(self,name,age,email):
        self.__name = name
        self.__age = age
        self.__email = email

    def set_name(self,name):
        self.__name=name
    
    def get_name(self):
        return self.__name
    
    def return_data(self):
        return self.__name,self.__age,self.__email

In [25]:
obj = student('arjun',22,'shekhawatsingharjun12345@gmail.com')

In [13]:
obj

In [14]:
obj.name

AttributeError: 'student' object has no attribute 'name'

In [17]:
obj._student__name

'arjun'

In [18]:
obj._student__age

22

In [22]:
obj.return_data()

('arjun', 22, 'shekhawatsingharjun12345@gmail.com')

In [26]:
obj.set_name('manish ji')

In [27]:
obj.get_name()

'manish ji'

In [28]:
obj.return_data()

('manish ji', 22, 'shekhawatsingharjun12345@gmail.com')

In [29]:
obj._student__email

'shekhawatsingharjun12345@gmail.com'

In [39]:
class bank_account:
    def __init__(self,balance):
        self.__balance = balance
    
    def deposite(self,amount):
        self.__balance+=amount
    
    def withdraw(self,amount):
        if amount<=self.__balance:
            self.__balance-=amount
        else:
            return False
        
        return True
    
    def check_balance(self):
        return self.__balance

In [40]:
arjun = bank_account(1000)

In [41]:
arjun.deposite(4000)

In [42]:
arjun.check_balance()

5000

In [43]:
arjun._bank_account__balance

5000

In [44]:
arjun.withdraw(10000)

False

In [45]:
arjun.check_balance()

5000

In [46]:
arjun.withdraw(1000)

True

In [47]:
arjun.check_balance()

4000

In [48]:
class student1:
    __name = None
    __age = None
    __email = None
    __phone_no = None
    __course = None

    def __init__(self,name,age,email,phone_no,course):
        self.__name = name
        self.__age = age
        self.__email = email
        self.__phone_no = phone_no
        self.__course = course

    def return_all_information(self):
        return self.__name,self.__age,self.__email,self.__phone_no,self.__course

In [49]:
arjun = student1('mohit',21,'mohit@gmail.com',78216498543,'Data science')

In [50]:
arjun.__age

AttributeError: 'student1' object has no attribute '__age'

In [51]:
arjun.return_all_information()

('mohit', 21, 'mohit@gmail.com', 78216498543, 'Data science')

In [52]:
mohit  = student1()

TypeError: student1.__init__() missing 5 required positional arguments: 'name', 'age', 'email', 'phone_no', and 'course'