In [1]:
#Function

In [2]:
def test():
    print("Hello Arjun")

In [3]:
test()

Hello Arjun

In [4]:
l = [1,2,3,4,5]

In [5]:
list(map(lambda x:x**2,l))

[1, 4, 9, 16, 25]

In [6]:
l1 = ['arjun','rahul','manjeet','narpat','nikita','shiwani','rekha','pooja','vinod','radhuveer','rajendra','vikarm','mital']

In [7]:
list(map(lambda x:x.upper(),l1))

['ARJUN',
 'RAHUL',
 'MANJEET',
 'NARPAT',
 'NIKITA',
 'SHIWANI',
 'REKHA',
 'POOJA',
 'VINOD',
 'RADHUVEER',
 'RAJENDRA',
 'VIKARM',
 'MITAL']

In [10]:
from functools import reduce

In [11]:
l = [1,2,3,4,5]

In [12]:
reduce(lambda x,y:x+y,l)

15

In [13]:
l = list(range(25))

In [15]:
list(filter(lambda x:x%2==0,l))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [16]:
l1 = ['arjun','rahul','manjeet','narpat','nikita','shiwani','rekha','pooja','vinod','radhuveer','rajendra','vikarm','mital']

In [17]:
list(filter(lambda x:len(x)<=6,l1))

['arjun',
 'rahul',
 'narpat',
 'nikita',
 'rekha',
 'pooja',
 'vinod',
 'vikarm',
 'mital']

In [18]:
#Generative function

In [19]:
def fib_number(n):
    a,b=0,1
    for i in range(n):
        yield a
        a,b = b,a+b

In [20]:
for i in fib_number(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [21]:
name = 'Arjun'

In [22]:
next(name)

TypeError: 'str' object is not an iterator

In [23]:
name = iter(name)

In [24]:
next(name)

'A'

In [25]:
next(name)

'r'

In [26]:
number = 9

In [27]:
next(number)

TypeError: 'int' object is not an iterator

In [28]:
number = iter(9)

TypeError: 'int' object is not iterable

In [30]:
pow = lambda x:x**2

In [31]:
pow(10)

100

In [32]:
l = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [34]:
l

[('Sachin Tendulkar', 34357),
 ('Ricky Ponting', 27483),
 ('Jack Kallis', 25534),
 ('Virat Kohli', 24936)]

In [35]:
l.sort()

In [36]:
l

[('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357),
 ('Virat Kohli', 24936)]

In [37]:
l = list(range(1,26))

from functools import reduce

In [38]:
reduce(lambda x,y:x+y,l)

325

In [39]:
l = [1,2,3,4,5,6,7,8,9]
tuple(map(lambda x:str(x),l))

('1', '2', '3', '4', '5', '6', '7', '8', '9')

In [40]:
list(map(lambda x:x**2,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [41]:
l = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [43]:
list(filter(lambda x:x%2==0 and x%3==0,l))

[6, 60, 90, 120]

In [44]:
l = ['python', 'php', 'aba', 'radar', 'level']

In [45]:
list(filter(lambda x:x[::-1]==x,l))

['php', 'aba', 'radar', 'level']

In [46]:
[i for i in range(1,101) if i%2!=0]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [47]:
name = 'pwsjills'

In [48]:
[i for i in name]

['p', 'w', 's', 'j', 'i', 'l', 'l', 's']