In [ ]:
#variable:- variable is a container in which data are store.It is a memory allocation.

In [1]:
name = "arjun"

In [2]:
name

'arjun'

In [3]:
type(name)

str

In [4]:
marks = 78.98

In [5]:
type(marks)

float

In [6]:
marks

78.98

In [7]:
age = 21

In [8]:
age

21

In [9]:
type(age)

int

In [10]:
isTrue = True

In [11]:
isTrue

True

In [12]:
type(isTrue)

bool

In [13]:
com1 = 54+90j

In [14]:
com1.real

54.0

In [15]:
com1.imag

90.0

In [16]:
com1

(54+90j)

In [17]:
True+False

1

In [18]:
False+False

0

In [19]:
#Mutability and Immutability concept

In [20]:
name = "arjun"

In [21]:
name[0]

'a'

In [22]:
name[-1]

'n'

In [23]:
name[0:3]

'arj'

In [24]:
name[::-1]

'nujra'

In [25]:
name[:2]

'ar'

In [26]:
name[-1:-4:-1]

'nuj'

In [27]:
l = ["data science",'machine larning','deep learning',21,True,65+90j]

In [28]:
l[0]

'data science'

In [29]:
l[-1]

(65+90j)

In [30]:
l[:3]

['data science', 'machine larning', 'deep learning']

In [31]:
l[::-1]

[(65+90j), True, 21, 'deep learning', 'machine larning', 'data science']

In [32]:
l[::2]

['data science', 'deep learning', True]

In [33]:
l[0]

'data science'

In [34]:
l[0] = 'arjun singh'

In [35]:
l

['arjun singh', 'machine larning', 'deep learning', 21, True, (65+90j)]

In [36]:
name[0]

'a'

In [37]:
name[0] = 'b'

TypeError: 'str' object does not support item assignment

In [38]:
#String object is immutable data type because it does not support item re-assignment at perticular index.like set,tuple etc.
#List object is mutable , because it assign and support item-reassignment at perticular index. like disctonary etc.

In [39]:
#Conditional statement

In [40]:
age = int(input('Enter your age :'))

if age>=18:
    print('You are adult')
else:
    print('you are not adult')

You are adult

In [42]:
marks =  float(input('Enter your marks :'))

if marks>=90 and marks<=100:
    print("Grade A++")

elif marks>=85 and marks<90:
    print('Grade A+')

elif marks>=80 and marks<85:
    print('Grade A')

elif marks>=75 and marks<80:
    print('Grade B++')

elif marks>=70 and marks<75:
    print('Grade B+')

elif marks>=65 and marks<70:
    print('Grade B')

elif marks>=60 and marks<65:
    print('Grade C++')

elif marks>=55 and marks<60:
    print('Grade C+')
    
elif marks>=50 and marks<55:
    print('Grade C')
elif marks>=45 and marks<50:
    print('Grade D++')

elif marks>=40 and marks<45:
    print('Grade D+')

elif marks>=36 and marks<40:
    print('Grade E')

else:
    print("Fail")

Grade C+

In [43]:
#Loop and break and continue statement

In [44]:
l = ['arjun','govind','anshu','kesav']

for i in l:
    print(i)

arjun
govind
anshu
kesav

In [50]:
i = 1

while i<10:
    print(i)
    i+=1
else:
    print("Print Number :")

1
2
3
4
5
6
7
8
9
Print Number :

In [48]:
name = "arjun singh"

for i in name:
    if i==' ':
        continue
    print(i,end='')
else:
    print("\nOperation complete")

arjunsingh
Operation complete

In [49]:
name = "arjun singh"

for i in name:
    if i==' ':
        break
    print(i,end='')
else:
    print("\nOperation complete")

arjun

In [51]:
#String

In [52]:
name = "arjun singh"

In [53]:
name[0]

'a'

In [54]:
name[-1]

'h'

In [55]:
name[::-1]

'hgnis nujra'

In [56]:
name[::2]

'ajnsnh'

In [57]:
name[-1::-1]

'hgnis nujra'

In [58]:
name.upper()

'ARJUN SINGH'

In [59]:
name.lower()

'arjun singh'

In [60]:
name.capitalize()

'Arjun singh'

In [61]:
name.title()

'Arjun Singh'

In [62]:
len(name)

11

In [63]:
name.split(' ')

['arjun', 'singh']

In [64]:
name.index('j')

2

In [65]:
name.index('n')

4

In [66]:
name.count('n')

2

In [67]:
name.count('r')

1

In [68]:
name.startswith('a')

True

In [69]:
name.endswith('h')

True

In [70]:
name.find('j')

2

In [71]:
name.find('z')

-1

In [72]:
data = "  information"

In [73]:
data

'  information'

In [74]:
data.strip()

'information'

In [80]:
data.join('d')

'd'

In [81]:
name.join('a')

'a'

In [82]:
name

'arjun singh'

In [83]:
name.replace('j','z')

'arzun singh'

In [84]:
name

'arjun singh'

In [86]:
name.isalpha()

False

In [87]:
name+90

TypeError: can only concatenate str (not "int") to str

In [88]:
name+str(90)

'arjun singh90'

In [89]:
name*5

'arjun singharjun singharjun singharjun singharjun singh'

In [90]:
name/2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [91]:
"""I am arjun"""

'I am arjun'

In [92]:
print("My name is arjun {}".format('singh'))

My name is arjun singh

In [93]:
print("the value of a {} and b {} and c {} ".format(1,2,3))

the value of a 1 and b 2 and c 3

In [94]:
#String -: 
# 1. It is Immutable data type.
# 2. It follow forward and backword index base accessing.
# 3. It allow sclicing operation.
# 4. In String present multiple pre-define method.

In [95]:
#List
#1. List is mutable data structure, it allow item re-assignment at a perticular index.
#2. List is changeble,index base accessing,ordered, and allow duplicate values.

In [96]:
l = [1,43,56,65.76,True,"data science"]

In [97]:
l

[1, 43, 56, 65.76, True, 'data science']

In [98]:
l[0]

1

In [99]:
l[-1]

'data science'

In [100]:
l[:2]

[1, 43]

In [101]:
l[:-1]

[1, 43, 56, 65.76, True]

In [102]:
l[::-1]

['data science', True, 65.76, 56, 43, 1]

In [103]:
l[1] = "deep learning"

In [104]:
l

[1, 'deep learning', 56, 65.76, True, 'data science']

In [105]:
l1 = ['data scinece','machine learning','deep learning',True,3,43.56,"big data"]

In [106]:
l1

['data scinece',
 'machine learning',
 'deep learning',
 True,
 3,
 43.56,
 'big data']

In [107]:
l1.append("computer vision")

In [108]:
l1

['data scinece',
 'machine learning',
 'deep learning',
 True,
 3,
 43.56,
 'big data',
 'computer vision']

In [109]:
l1.append([1,2,3,4,5])

In [110]:
l1

['data scinece',
 'machine learning',
 'deep learning',
 True,
 3,
 43.56,
 'big data',
 'computer vision',
 [1, 2, 3, 4, 5]]

In [111]:
l1.extend(['web','python','java'])

In [112]:
l1

['data scinece',
 'machine learning',
 'deep learning',
 True,
 3,
 43.56,
 'big data',
 'computer vision',
 [1, 2, 3, 4, 5],
 'web',
 'python',
 'java']

In [113]:
l1.insert(3,'Tablu')

In [114]:
l1

['data scinece',
 'machine learning',
 'deep learning',
 'Tablu',
 True,
 3,
 43.56,
 'big data',
 'computer vision',
 [1, 2, 3, 4, 5],
 'web',
 'python',
 'java']

In [115]:
l1.pop()

'java'

In [116]:
l1.pop(4)

True

In [117]:
l1

['data scinece',
 'machine learning',
 'deep learning',
 'Tablu',
 3,
 43.56,
 'big data',
 'computer vision',
 [1, 2, 3, 4, 5],
 'web',
 'python']

In [118]:
l2 = l1.copy()

In [119]:
l1

['data scinece',
 'machine learning',
 'deep learning',
 'Tablu',
 3,
 43.56,
 'big data',
 'computer vision',
 [1, 2, 3, 4, 5],
 'web',
 'python']

In [120]:
l2

['data scinece',
 'machine learning',
 'deep learning',
 'Tablu',
 3,
 43.56,
 'big data',
 'computer vision',
 [1, 2, 3, 4, 5],
 'web',
 'python']

In [121]:
l1[-1] = 'ruby'

In [122]:
l1

['data scinece',
 'machine learning',
 'deep learning',
 'Tablu',
 3,
 43.56,
 'big data',
 'computer vision',
 [1, 2, 3, 4, 5],
 'web',
 'ruby']

In [123]:
l2

['data scinece',
 'machine learning',
 'deep learning',
 'Tablu',
 3,
 43.56,
 'big data',
 'computer vision',
 [1, 2, 3, 4, 5],
 'web',
 'python']

In [124]:
l2.append('data science')

In [125]:
l2

['data scinece',
 'machine learning',
 'deep learning',
 'Tablu',
 3,
 43.56,
 'big data',
 'computer vision',
 [1, 2, 3, 4, 5],
 'web',
 'python',
 'data science']

In [126]:
l2.count('data science')

1

In [127]:
l2.index('Tablu')

3

In [128]:
l2.remove('web')

In [129]:
l2

['data scinece',
 'machine learning',
 'deep learning',
 'Tablu',
 3,
 43.56,
 'big data',
 'computer vision',
 [1, 2, 3, 4, 5],
 'python',
 'data science']

In [130]:
l2.reverse()

In [131]:
l2

['data science',
 'python',
 [1, 2, 3, 4, 5],
 'computer vision',
 'big data',
 43.56,
 3,
 'Tablu',
 'deep learning',
 'machine learning',
 'data scinece']

In [132]:
names = ['anshu','ankit','arjun','abhishek']

In [133]:
names

['anshu', 'ankit', 'arjun', 'abhishek']

In [134]:
names.sort()

In [135]:
names

['abhishek', 'ankit', 'anshu', 'arjun']

In [136]:
number = [5,1,4,2,3]
number.sort()

In [137]:
number

[1, 2, 3, 4, 5]

In [138]:
number.clear()

In [139]:
number

[]

In [140]:
del names

In [141]:
#tuple

In [142]:
t = (12,43,56,78,54.65)

In [143]:
t

(12, 43, 56, 78, 54.65)

In [144]:
t[0]

12

In [145]:
t[1]

43

In [146]:
t[-1]

54.65

In [147]:
t[-2]

78

In [148]:
t[::-1]

(54.65, 78, 56, 43, 12)

In [149]:
t.index(78)

3

In [150]:
t.count(78)

1

In [151]:
del t[0]

TypeError: 'tuple' object doesn't support item deletion

In [152]:
del t

In [153]:
t

NameError: name 't' is not defined

In [154]:
#set

In [2]:
s = {1,3,2,5,4,6,5,1,2,3,4,3,1,2,3}

In [3]:
s

{1, 2, 3, 4, 5, 6}

In [4]:
s.add(12)

In [5]:
s

{1, 2, 3, 4, 5, 6, 12}

In [6]:
s.pop()

1

In [7]:
d = {"Name":"arjun","age":21,"Course":"Data Science"}

In [8]:
d

{'Name': 'arjun', 'age': 21, 'Course': 'Data Science'}

In [9]:
d['Name']

'arjun'

In [10]:
d['age']

21

In [11]:
d['Course']

'Data Science'

In [12]:
d.keys()

dict_keys(['Name', 'age', 'Course'])

In [13]:
d.values()

dict_values(['arjun', 21, 'Data Science'])

In [14]:
d.items()

dict_items([('Name', 'arjun'), ('age', 21), ('Course', 'Data Science')])

In [15]:
d.get('Name')

'arjun'

In [17]:
d.pop("Name")

'arjun'

In [18]:
d

{'age': 21, 'Course': 'Data Science'}

In [20]:
d.popitem()

('Course', 'Data Science')

In [21]:
d

{'age': 21}

In [23]:
d.update({"Branch":"Data science"})

In [24]:
d

{'age': 21, 'Branch': 'Data science'}

In [25]:
s = {"Mongo","Banana",'Apple','Grapes'}

In [28]:
"Mongo" in s

True

In [29]:
l = ['data scuence','machine learning']

In [31]:
'machine learning' in l

True

In [32]:
s = {'arjun','manjeet','kesav','shubham'}

In [33]:
s.remove('arjun')

In [34]:
s.pop()

'kesav'

In [35]:
s.discard('manjeet')

In [36]:
s

{'shubham'}

In [37]:
s.clear()

In [38]:
s

set()

In [39]:
del s

In [40]:
s

NameError: name 's' is not defined

In [41]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set1.union(set2)

{1, 2, 3, 'a', 'b', 'c'}

In [42]:
set1|set2

{1, 2, 3, 'a', 'b', 'c'}

In [43]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

set1.union(set2,set3,set4)

{1, 2, 3, 'Elena', 'John', 'a', 'apple', 'b', 'bananas', 'c', 'cherry'}

In [44]:
set1 |set2|set3|set4

{1, 2, 3, 'Elena', 'John', 'a', 'apple', 'b', 'bananas', 'c', 'cherry'}

In [48]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

a = set1.difference(set2)

In [49]:
a

{'banana', 'cherry'}

In [50]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

In [51]:
set3

{'banana', 'cherry', 'google', 'microsoft'}

In [52]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'google', 'cherry', 'microsoft', 'banana'}