In [1]:
# 1.String -: Set of charactors called string.
# 2.List -:Set of multiple data types.
# 3.Tuple -:Set of multiple data types.
# 4.Set -:Set of multiple data types.
# 5.Dictionary -: key value pairs.

In [2]:
#1.String :- Immutable,forward and backward index base accessing,multiple predefine methods.

In [3]:
name = "Arjun singh"

In [4]:
name

'Arjun singh'

In [5]:
type(name)

str

In [6]:
name[0]

'A'

In [7]:
name[1]

'r'

In [8]:
name[-1]

'h'

In [9]:
name[0]

'A'

In [10]:
name[0] = 'q'

TypeError: 'str' object does not support item assignment

In [11]:
name.upper()

'ARJUN SINGH'

In [12]:
name.lower()

'arjun singh'

In [13]:
name.capitalize()

'Arjun singh'

In [14]:
name.title()

'Arjun Singh'

In [15]:
name.index('r')

1

In [16]:
name.count('n')

2

In [17]:
name.find('j')

2

In [18]:
name.split(' ')

['Arjun', 'singh']

In [19]:
name = "   Arjun singh"

In [20]:
name

'   Arjun singh'

In [21]:
name.strip()

'Arjun singh'

In [22]:
name.startswith('a')

False

In [23]:
name = "Arjun SIngh"

In [24]:
name.startswith('a')

False

In [25]:
name.startswith('A')

True

In [26]:
name.endswith('h')

True

In [27]:
name.replace('A','a')

'arjun SIngh'

In [28]:
name[::2]

'AjnSnh'

In [29]:
name[0:2]

'Ar'

In [30]:
name*3

'Arjun SInghArjun SInghArjun SIngh'

In [31]:
name+str(1)

'Arjun SIngh1'

In [32]:
#2. List -: mutable,ordered,index base accessing forward and backward both side,allow duplicates value.

In [33]:
l = [12,43.54,True,78+9j,"Arjun"]

In [34]:
l

[12, 43.54, True, (78+9j), 'Arjun']

In [35]:
l[0]

12

In [36]:
l[1
]

43.54

In [37]:
l[-1]

'Arjun'

In [38]:
l[::-1]

['Arjun', (78+9j), True, 43.54, 12]

In [39]:
l[:2]

[12, 43.54]

In [40]:
l[0]

12

In [41]:
l[0] = "Data science"

In [42]:
l

['Data science', 43.54, True, (78+9j), 'Arjun']

In [43]:
l.append('Machine learning')

In [44]:
l

['Data science', 43.54, True, (78+9j), 'Arjun', 'Machine learning']

In [45]:
l.extend(["Web development",'Androide development','Cloud computing'])

In [46]:
l

['Data science',
 43.54,
 True,
 (78+9j),
 'Arjun',
 'Machine learning',
 'Web development',
 'Androide development',
 'Cloud computing']

In [47]:
l.insert(2,"Kesa hai bhai")

In [48]:
l

['Data science',
 43.54,
 'Kesa hai bhai',
 True,
 (78+9j),
 'Arjun',
 'Machine learning',
 'Web development',
 'Androide development',
 'Cloud computing']

In [49]:
l.pop()

'Cloud computing'

In [50]:
l.pop(0)

'Data science'

In [51]:
l.remove(True)

In [52]:
l

[43.54,
 'Kesa hai bhai',
 (78+9j),
 'Arjun',
 'Machine learning',
 'Web development',
 'Androide development']

In [53]:
l.index('Cloud computing')

ValueError: 'Cloud computing' is not in list

In [54]:
l

[43.54,
 'Kesa hai bhai',
 (78+9j),
 'Arjun',
 'Machine learning',
 'Web development',
 'Androide development']

In [55]:
l.index('Arjun')

3

In [56]:
l.count('Arjun')

1

In [57]:
l.reverse()

In [58]:
l

['Androide development',
 'Web development',
 'Machine learning',
 'Arjun',
 (78+9j),
 'Kesa hai bhai',
 43.54]

In [59]:
l.clear()

In [60]:
del l

In [61]:
l

NameError: name 'l' is not defined

In [62]:
l1 = [4,3,1,2,6]

In [63]:
l1.sort()

In [64]:
l1

[1, 2, 3, 4, 6]

In [66]:
[i for i in range(1,10,2)]

[1, 3, 5, 7, 9]

In [67]:
#Tuple -:not changeble,index base accessing,ordered,immutable etc

In [68]:
t = (12,43.54,True,"Data science")

In [69]:
t

(12, 43.54, True, 'Data science')

In [70]:
t.index(True)

2

In [71]:
t.count(True)

1

In [72]:
del t

In [73]:
t1 = (12,43,56,76,67)

In [74]:
t1[0]

12

In [75]:
t[-1]

NameError: name 't' is not defined

In [76]:
t1[0:2]

(12, 43)

In [77]:
#Set -: not ordered,not index base accessing,not duplicates allow.

In [78]:
s = {1,3,2,5,4,1,2,31,5,4,7}

In [79]:
s

{1, 2, 3, 4, 5, 7, 31}

In [80]:
s.add("Data ")

In [81]:
s

{1, 2, 3, 31, 4, 5, 7, 'Data '}

In [82]:
s.pop()

1

In [83]:
s.update([1,2,3,4,5])

In [84]:
s

{1, 2, 3, 31, 4, 5, 7, 'Data '}

In [85]:
s.update(["Data science",'deep'])

In [86]:
s

{1, 2, 3, 31, 4, 5, 7, 'Data ', 'Data science', 'deep'}

In [87]:
s1 = {1,2,3,4,5}
s2 = {'a','b','c','d','e'}

In [88]:
s1|s2

{1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e'}

In [89]:
s1.union(s2)

{1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e'}

In [90]:
s1 = {1,2,3,4,5}
s2 = {2,4,6,8,10}

In [91]:
s1&s2

{2, 4}

In [92]:
s1.intersection(s2)

{2, 4}

In [93]:
s1 = {1,2,3,4,5}
s2 = {1,6,3,4,9}

In [94]:
s1-s2

{2, 5}

In [95]:
s1.difference(s2)

{2, 5}

In [96]:
s1.discard("sadjhj")

In [97]:
s1

{1, 2, 3, 4, 5}

In [98]:
s1.remove('a')

KeyError: 'a'

In [99]:
s1.remove(2)

In [100]:
s1

{1, 3, 4, 5}

In [101]:
s1.clear()

In [102]:
s1

set()

In [103]:
del s1

In [104]:
s1

NameError: name 's1' is not defined

In [105]:
s1 = {1,2,3,4,5,6}

In [106]:
s1

{1, 2, 3, 4, 5, 6}

In [107]:
#4 distionary : changeble,ordered,key accessing,not allow duplicates

In [108]:
d = {'name':"arjun","name":"arjun"}

In [109]:
d

{'name': 'arjun'}

In [110]:
d = {'name':"arjun",'age':21,'dob':'28 april 2002'}

In [111]:
d

{'name': 'arjun', 'age': 21, 'dob': '28 april 2002'}

In [112]:
d.keys()

dict_keys(['name', 'age', 'dob'])

In [113]:
d.values()

dict_values(['arjun', 21, '28 april 2002'])

In [114]:
d.items()

dict_items([('name', 'arjun'), ('age', 21), ('dob', '28 april 2002')])

In [115]:
d = {
    "Courses":{"Machine Learning":['data science 2.0','data science 2.1'],"Web development":['dot batch 1.0','dot batch 2.0']},
    "Student":{'Name':['Arjun','manjeet','Govind','Lokesh','Narpat','rahul','ritesh','shubham'],'age':[21,21,13,14,15,17,20,23]},
    "Teacher":{"Name":['Mukesh ji','Kalu ram ji','Manish ji','dayal ji','surendra ji','lokesh ji','jitendra ji'],'age':[23,25,27,34,54,37,45]}
}

In [116]:
d

{'Courses': {'Machine Learning': ['data science 2.0', 'data science 2.1'],
  'Web development': ['dot batch 1.0', 'dot batch 2.0']},
 'Student': {'Name': ['Arjun',
   'manjeet',
   'Govind',
   'Lokesh',
   'Narpat',
   'rahul',
   'ritesh',
   'shubham'],
  'age': [21, 21, 13, 14, 15, 17, 20, 23]},
 'Teacher': {'Name': ['Mukesh ji',
   'Kalu ram ji',
   'Manish ji',
   'dayal ji',
   'surendra ji',
   'lokesh ji',
   'jitendra ji'],
  'age': [23, 25, 27, 34, 54, 37, 45]}}

In [118]:
list(d.keys())

['Courses', 'Student', 'Teacher']

In [119]:
list(d.values())

[{'Machine Learning': ['data science 2.0', 'data science 2.1'],
  'Web development': ['dot batch 1.0', 'dot batch 2.0']},
 {'Name': ['Arjun',
   'manjeet',
   'Govind',
   'Lokesh',
   'Narpat',
   'rahul',
   'ritesh',
   'shubham'],
  'age': [21, 21, 13, 14, 15, 17, 20, 23]},
 {'Name': ['Mukesh ji',
   'Kalu ram ji',
   'Manish ji',
   'dayal ji',
   'surendra ji',
   'lokesh ji',
   'jitendra ji'],
  'age': [23, 25, 27, 34, 54, 37, 45]}]

In [121]:
list(d.items())

[('Courses',
  {'Machine Learning': ['data science 2.0', 'data science 2.1'],
   'Web development': ['dot batch 1.0', 'dot batch 2.0']}),
 ('Student',
  {'Name': ['Arjun',
    'manjeet',
    'Govind',
    'Lokesh',
    'Narpat',
    'rahul',
    'ritesh',
    'shubham'],
   'age': [21, 21, 13, 14, 15, 17, 20, 23]}),
 ('Teacher',
  {'Name': ['Mukesh ji',
    'Kalu ram ji',
    'Manish ji',
    'dayal ji',
    'surendra ji',
    'lokesh ji',
    'jitendra ji'],
   'age': [23, 25, 27, 34, 54, 37, 45]})]

In [123]:
d.pop('Student')

{'Name': ['Arjun',
  'manjeet',
  'Govind',
  'Lokesh',
  'Narpat',
  'rahul',
  'ritesh',
  'shubham'],
 'age': [21, 21, 13, 14, 15, 17, 20, 23]}

In [124]:
d

{'Courses': {'Machine Learning': ['data science 2.0', 'data science 2.1'],
  'Web development': ['dot batch 1.0', 'dot batch 2.0']},
 'Teacher': {'Name': ['Mukesh ji',
   'Kalu ram ji',
   'Manish ji',
   'dayal ji',
   'surendra ji',
   'lokesh ji',
   'jitendra ji'],
  'age': [23, 25, 27, 34, 54, 37, 45]}}

In [125]:
#Function

In [126]:
def test():
    print("Arjun")

In [127]:
test()

Arjun

In [128]:
#Map,reduce,filter

In [129]:
l = [1,2,3,4,5]

In [130]:
l

[1, 2, 3, 4, 5]